//Search Bar

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  //   justify-content: flex-start;

  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;

  margin: auto;

  .searchBox {
    width: 310px;
    margin-right: 2px;
  }

  .searchButton {
    height: min-content;
  }

  @media (min-width: 460px) {
    flex-direction: row;
    justify-content: flex-start;

    width: 430px;

    .searchBox {
      margin-right: 10px;
    }
  }
}
//Sort Dropdown

.sortBox {
  position: relative;
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: smaller;
}

//Search Results

.search-result {
  cursor: pointer;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px;
  border-color: #48bdff;
  border-style: solid;
  border-width: 3px;
  padding-right: 20px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 2px;
  flex-direction: column;
  background-color: white;

  .search-result-image {
    width: 180px;
  }

  .search-result-name {
    font-weight: 600;
    font-size: larger;
    padding-bottom: 7px;
  }

  .search-result-name:hover {
    display: inline-block;
    background-color: #99d0f0;
    color: #333;
    padding: 4px;
    border-radius: 4px;
  }

  .text-results {
    padding-left: 10px;
  }

  .brand {
    padding-bottom: 5px;
    font-size: smaller;
    font-weight: 500;
  }

  .store-name {
    padding-bottom: 1px;
  }

  .Asda {
    color: #78be20;
    font-weight: 500;
    font-size: medium;
  }

  .Tesco {
    color: #ee1c2e;
    font-weight: 500;
    font-size: medium;
  }

  .Waitrose {
    color: #2b620b;
    font-weight: 500;
    font-size: medium;
  }

  .Sainsburys {
    color: #ec8a00;
    font-weight: 500;
    font-size: medium;
  }

  .Morrisons {
    color: #00563f;
    font-weight: 500;
    font-size: medium;
  }

  .Iceland {
    color: #d2212e;
    font-weight: 500;
    font-size: medium;
  }

  .Ocado {
    color: #4d216d;
    font-weight: 500;
    font-size: medium;
  }

  .Aldi {
    color: #1fc4f4;
    font-weight: 500;
    font-size: medium;
  }
}

.lowest {
  // padding: 4px;
  font-weight: 500;
}

.unit-price-measure {
  font-size: small;
  color: grey;
  font-weight: 400;
}

.store-name {
  font-size: medium;
}

.store-price {
  font-size: medium;
  color: black;
  font-weight: 400;
}

.best-price {
  color: black;
  display: inline-block;
  font-size: smaller;
  border-radius: 4px;
  padding-top: 0px;
  margin-left: 4px;
  padding-right: 4px;
  border-color: rgb(50, 159, 33);
  border-style: solid;
  border-width: 3px;
  background-color: rgb(193, 226, 194);
}

// Initially hide the unit price measure
.unit-price-measure {
  display: none;
}

// Media query for screens wider than 532px
@media (min-width: 532px) {
  .unit-price-measure {
    display: inline;
  }
}

@media (min-width: 480px) {
  .search-result {
    flex-direction: row;
  }
}
