.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: none;
}

.go {
  background-color: green;
}

.stop {
  background-color: red;
}

.active {
  display: block;
}
